<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{button_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
  <div class="col">
  <form action="." method="POST" id="form1">
  {% csrf_token %}
    <input type="text" name="name"class="form-control" placeholder="Full Name" aria-label="Full Name">
  </div>
  <div class="col">
    <input type="text" name="technology" class="form-control" placeholder="Technology Name" aria-label="Technology Name">
  </div>
  </form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="sumbit" form="form1" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
