{% extends "base.html" %}
{% block content %}
{% comment %} {% include "modals/trainer_modal.html" %}
{% include "modals/trainee_modal.html" %}
{% include "modals/training_modal.html" %} {% endcomment %}

<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  {{button_name}}
</button>
{% if type %}
{% include "modals/training_modal.html" %}
{% else %}
{% include "modals/trainer_modal.html" %}
{% endif %}
<table class="table table-responsive">
  <thead class="thead-dark">
    <tr>
      {% for t_head in table_headers %}
      <th scope="col">{{t_head}}</th>
      {% endfor %}
    </tr>
  </thead>
  {% if type %}
  {% include "tables/training_table.html" %}
  {% else %}
  {% include "tables/trainer_table.html" %}
  {% endif %}
 
</table>

{% endblock %}